*,
*::before,
*::after {
  box-sizing: border-box;
}

body > header > div > img {
  width: 40%;
}

header {
  display: flex;
  justify-content: space-between;
  padding: 1em;
}

html {
  scroll-behavior: smooth;
}

.nav {
  position: fixed;
  background: var(--clr-dark);
  color: var(--clr-light);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 100;

  transform: translateX(100%);
  transition: transform 250ms cubic-bezier(.5, 0, .5, 1);
}

.nav__list {
  list-style: none;
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  margin: 0;
  padding: 0;
}

.nav__link{
  color: inherit;
  font-weight: var(--fw-bold);
  font-size: var(--fs-h2);
  text-decoration: none;
}
.nav__link:hover {
  color: var(--clr-accent)
}

.nav-toggle {
  padding: .5em;
  background: transparent;
  border: 0;
  cursor: pointer;
  position: absolute;
  right: 1em;
  top: 1em;
  z-index: 1000;

}

.nav-open .nav {
  transform: translateX(0);
}

.nav-open .nav-toggle {
  position: fixed;
}

.nav-open .hamburger {
  transform: rotate(.625turn);
}

.nav-open .hamburger::before {
  transform: rotate(90deg) translateX(-6px);
}
.nav-open .hamburger::after {
  opacity: 0;
}

.hamburger {

  display: block;
  position: relative;
}

.hamburger,
.hamburger::before, 
.hamburger::after {
  background: var(--clr-accent);
  width: 2em;
  height: 3px;
  border-radius: 1em;
  transition: transform 250ms ease-in-out;
}

.hamburger::before, 
.hamburger::after {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
}

.hamburger::before { top: 6px; }
.hamburger::after{ bottom: 6px; }




:root {
  --ff-primary: 'Inconsolata', monospace;

  --fw-reg: 300;
  --fw-bold: 1000;

  --clr-light: #fff;
  --clr-dark: #303030;
  --clr-accent: #82A95D;

  --fs-h1: 3rem;
  --fs-h2: 2.25rem;
  --f2-h2: 1.25rem;
  --fs-body: 1rem;

  --bs: 0.25em 0.25em 0.75em rgba(0, 0, 0, .25),
        0.125em 0.125em 0.25em rgba(0, 0, 0, .15)
}

@media (min-width: 800px){
  :root {
    --fs-h1: 4.5rem;
    --fs-h2: 3.75rem;
    --fs-h3: 1.5rem;
    --fs-body: 1.125rem;

  }
}

body {
  background: var(--clr-light);
  color: var(--clr-dark);
  margin: 0;
  font-family: var(--ff-primary);
  font-size: var(--fs-body);
  line-height: 1.6;
}

section {
  padding: 5em 2em;
}

img {
  display: block;
  max-width: 100%;
}

strong { font-weight: var(--fw-bold); }
h1,
h2,
h3 {
  line-height: 1;
  margin: 0;
}

h1 { font-size: var(--fs-h1) }
h2 { font-size: var(--fs-h2) }
h3 { font-size: var(--fs-h3) }

.section__title {
  margin-bottom: .25em;
}

.section__title--intro {
  font-weight: var(--fw-reg);
}

.section__title--intro strong {
  display: block;
}
.section__subtitle {
  margin: 0;
  font-size: var(--fs-h3);
}

.section__subtitle--intro {
  background: var(--clr-accent);
  padding: .25em 1em;
  margin-bottom: 1em;
}


.intro {
  position: relative;
  padding-bottom: 200px;
}

.intro__img {
  box-shadow: var(--bs);
}

@media (min-width: 600px) {
  .intro {
    display: grid;
    width: min-content;
    margin: 0 auto;
    grid-column-gap: 1em;
    grid-template-areas: 
    'img title'
    'img subtitle';
    grid-template-columns: min-content max-content;
  }
  .intro__img {
    grid-area: img;
    min-width: 250px;
    position: relative;
    z-index: 2;
  }

  .section__subtitle--intro {
    align-self: start;
    grid-column: -1 / 1;
    grid-row: 2;
    text-align: right;
    position: relative;
    left: -1.5em;
    width: calc(100% + 1.5em )
  }
}

.about-me {
  background-color: #AFCC8F  ;
  background-size: cover;
  color: var(--clr-light);
  

}
#aboutme > h2 {
  text-align: end;
  padding-right: 150px;
}

#work > h2 {
  padding-left: 150px;
  padding-bottom: 50px;
}
.skills {
  font-weight: var(--fw-bold);
}

.grid1 {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 3rem;
  padding: 2vw 5vw;
  text-align: justify;
  text-justify: inter-word;
}
@media (max-width: 750px) {
  .portfolio__img{
    display: none;
  } 
}
#work > div:nth-child(2) > div:nth-child(1) > h3, 
#work > div:nth-child(4) > div:nth-child(1) > h3 {
  text-align: end;
}
#work > div:nth-child(2) > div:nth-child(1) > div,
#work > div:nth-child(4) > div:nth-child(1) > div {
  display: flex;
  justify-content: flex-end;
}

.portfolio__img{
  transition: 1s ease;
}
.portfolio__img:hover {
  opacity: .7;

}

footer {
  background: var(--clr-dark);
  color: var(--clr-accent);
  text-align: center;
  padding: 2.5em 0;

}

footer a { 
  color: inherit;
  text-decoration: none;
  font-size: 2em;

}

.footer__link {
  font-weight: var(--fw-bold);
}

.footer__link:hover, 
.social-list__link:hover {
  opacity: .7;
}

.footer__link:hover {
  text-decoration: underline;
}
.social-list {
  list-style: none;
  display: flex;
  justify-content: center;
  margin: 2em 0 0;
  padding: 0;
}

.social-list__item {
  margin: 0 .5em;
}

.social-list__link {
  padding: .5em;
}
a.button1 {
  display: inline-block;
  padding: 0.35em 1.2em;
  border: 0.1em solid #FFFFFF;
  margin: 0 0.3em 0.3em 0;
  border-radius: 0.12em;
  box-sizing: border-box;
  text-decoration: none;
  color: #FFFFFF;
  text-align: center;
  transition: all 0.2s;
  background-color: #AFCC8F;

}
a.button1:hover {
  color: #000000;
  background-color: #FFFFFF;
}

@media all and (max-width:30em) {
  a.button1{
    display: block;
    margin: 0.4em auto;
 }
}